Contract_Renewal_Reminder.json
{
  "name": "Contract Renewal Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "730bcd29-9327-4c85-9fdb-3f077f07ff13",
      "name": "Daily Schedule 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "properties": [
            "dealname",
            "closedate",
            "amount",
            "dealstage",
            "hubspot_owner_id",
            "hs_object_id",
            "auto_renewal",
            "deal_status"
          ]
        }
      },
      "id": "cbead111-db16-4b4a-aab4-3282d8fe4016",
      "name": "Fetch Active Deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        496,
        304
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.properties?.auto_renewal ?? false }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": ""
            },
            {
              "leftValue": "={{ $json.properties?.deal_status ?? \"\" }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "rightValue": "in_negotiation"
            },
            {
              "leftValue": "={{ $json.properties?.closedate ?? \"\" }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2c1250b9-16a9-4a54-ad84-242f3a9b3d69",
      "name": "Skip Auto-Renewal & In-Negotiation",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "days-until-expiry",
              "name": "daysUntilExpiry",
              "value": "={{ Math.ceil((new Date($json.properties.closedate).getTime() - Date.now()) / 86400000) }}",
              "type": "number"
            },
            {
              "id": "deal-id",
              "name": "dealId",
              "value": "={{ $json.properties.hs_object_id }}",
              "type": "string"
            },
            {
              "id": "deal-name",
              "name": "dealName",
              "value": "={{ $json.properties.dealname }}",
              "type": "string"
            },
            {
              "id": "deal-amount",
              "name": "dealAmount",
              "value": "={{ $json.properties.amount }}",
              "type": "string"
            },
            {
              "id": "end-date",
              "name": "endDate",
              "value": "={{ $json.properties.closedate }}",
              "type": "string"
            },
            {
              "id": "owner-id",
              "name": "ownerId",
              "value": "={{ $json.properties.hubspot_owner_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da64bb5b-0c6e-47ce-a8d8-d2021c456e4c",
      "name": "Calculate Days Until Expiry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.daysUntilExpiry }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "rightValue": 90,
              "id": "a32fd04e-a778-4fcf-95dc-90a60bfd8528"
            },
            {
              "leftValue": "={{ $json.daysUntilExpiry }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "rightValue": 60,
              "id": "c6a5a001-57cc-46fe-879b-9dc3c6491365"
            },
            {
              "leftValue": "={{ $json.daysUntilExpiry }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "rightValue": 30,
              "id": "ade779f9-91a1-4532-9aae-da321516b213"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e1c89798-1798-4d0e-a4e3-cb7e3f4b4994",
      "name": "Filter 90/60/30 Day Window",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "urgency-label",
              "name": "urgencyLabel",
              "value": "={{ $json.daysUntilExpiry === 30 ? \"🔴 URGENT - 30 Hari\" : $json.daysUntilExpiry === 60 ? \"🟡 PERHATIAN - 60 Hari\" : \"🟢 INFO - 90 Hari\" }}",
              "type": "string"
            },
            {
              "id": "renewal-end",
              "name": "renewalEnd",
              "value": "={{ new Date(new Date($json.endDate).setFullYear(new Date($json.endDate).getFullYear() + 1)).toISOString().split(\"T\")[0] }}",
              "type": "string"
            },
            {
              "id": "amount-formatted",
              "name": "amountFormatted",
              "value": "={{ \"Rp \" + Number($json.dealAmount).toLocaleString(\"id-ID\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "da1fd68c-5d0a-40e9-884f-88ded180e296",
      "name": "Set Urgency & Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.urgencyLabel }} — Perpanjangan Kontrak {{ $json.dealName }}",
        "emailType": "html",
        "message": "=<p>Yth. Tim Account Manager,</p><p>Berikut informasi kontrak yang perlu ditindaklanjuti:</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr><td><b>Nama Kontrak</b></td><td>{{ $json.dealName }}</td></tr><tr><td><b>Nilai Kontrak</b></td><td>{{ $json.amountFormatted }}</td></tr><tr><td><b>Tanggal Berakhir</b></td><td>{{ $json.endDate }}</td></tr><tr><td><b>Periode Baru</b></td><td>{{ $json.endDate }} s/d {{ $json.renewalEnd }}</td></tr><tr><td><b>Sisa Hari</b></td><td>{{ $json.daysUntilExpiry }} hari</td></tr></table><p>Mohon segera menghubungi klien untuk mendiskusikan perpanjangan kontrak.</p><p>Salam,<br>Sistem CRM Otomatis</p>",
        "options": {}
      },
      "id": "89ae5477-25e4-4333-94bd-0fad036e5fd9",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1920,
        304
      ],
      "webhookId": "c6b1f46f-0632-4dc1-9262-59d0fbf3bc94",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=sender number id here",
        "recipientPhoneNumber": "=manager phone number",
        "textBody": "={{ $(\"Set Urgency & Format Data\").item.json.urgencyLabel }}\n\n*Kontrak Hampir Berakhir!*\n\n📋 *{{ $(\"Set Urgency & Format Data\").item.json.dealName }}*\n💰 {{ $(\"Set Urgency & Format Data\").item.json.amountFormatted }}\n📅 Berakhir: {{ $(\"Set Urgency & Format Data\").item.json.endDate }} ({{ $(\"Set Urgency & Format Data\").item.json.daysUntilExpiry }} hari lagi)\n\n✉️ Draft email renewal sudah disiapkan di Gmail.\nDeal ID: {{ $(\"Set Urgency & Format Data\").item.json.dealId }}",
        "additionalFields": {}
      },
      "id": "db749cba-4bdb-412e-b56c-aad5f368c355",
      "name": "Notify Account Manager via WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2160,
        304
      ],
      "webhookId": "630a9520-cfe0-480b-8c4a-a123e8dcbeb5"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "task",
        "dueDate": "={{ $(\"Set Urgency & Format Data\").item.json.endDate }}",
        "metadata": {
          "body": "=Kontrak {{ $(\"Set Urgency & Format Data\").item.json.dealName }} akan berakhir dalam {{ $(\"Set Urgency & Format Data\").item.json.daysUntilExpiry }} hari ({{ $(\"Set Urgency & Format Data\").item.json.endDate }}). Nilai: {{ $(\"Set Urgency & Format Data\").item.json.amountFormatted }}. Draft email renewal sudah disiapkan.",
          "forObjectType": "COMPANY",
          "status": "NOT_STARTED",
          "subject": "={{ $(\"Set Urgency & Format Data\").item.json.urgencyLabel }} — Renewal Reminder: {{ $(\"Set Urgency & Format Data\").item.json.dealName }}"
        },
        "additionalFields": {
          "associations": {
            "dealIds": "={{ $(\"Set Urgency & Format Data\").item.json.dealId }}"
          }
        }
      },
      "id": "0bcad8ac-2cd2-4320-9570-e112d22d7a79",
      "name": "Log Renewal Task in HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        2400,
        304
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6d2a731e-3f76-4b8f-9a7f-d0a4b0eb410e",
      "name": "Loop Per Deal",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Setup Required\n\n**n8n Variables** (Settings → Variables):\n- `WHATSAPP_PHONE_NUMBER_ID` — Phone Number ID dari Meta Business\n- `AM_WHATSAPP_NUMBER` — Nomor WA Account Manager (format: 628xxx)\n\n**Credentials** yang perlu dikonfigurasi:\n- HubSpot OAuth2\n- Gmail OAuth2\n- WhatsApp Business Cloud\n\n**HubSpot Custom Properties** yang dibutuhkan:\n- `auto_renewal` (boolean)\n- `deal_status` — set ke `in_negotiation` untuk skip negosiasi",
        "height": 304,
        "width": 640,
        "color": 3
      },
      "id": "f6eea0d8-39ce-490b-bafb-56bd7820bf08",
      "name": "Sticky Note 543324dd",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        -144
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 Edge Cases\n\n✅ Auto-renewal → di-skip\n✅ In-negotiation → di-skip\n✅ Trigger tepat di hari ke-90, 60, 30\n⚠️ Multiple kontak per akun → notif per-deal\n(tambah Get Contacts node jika perlu per kontak)",
        "height": 224,
        "width": 432,
        "color": 4
      },
      "id": "9cdc1c82-fab5-4275-b9ea-7cc5bdf3e5c4",
      "name": "Sticky Note b77e742e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -144
      ]
    },
    {
      "parameters": {
        "content": "SCHEDULED TRIGER\n-",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        224
      ],
      "typeVersion": 1,
      "id": "53fdf6bd-9169-4946-9339-3d5fef87b20c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "PULL DEALS AND FILLTER\n-",
        "height": 288,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        224
      ],
      "typeVersion": 1,
      "id": "b6e6e9ef-0116-4841-af9b-a0c9540bb8c3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "FILTER TIME \n-",
        "height": 256,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        240
      ],
      "typeVersion": 1,
      "id": "67c89af2-0023-4e2b-97d9-02e38781002a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "LOOPING\n-\n\n- SEND MASSAGE TO MANAGER\n- CREATE GMAIL DRAFT FOR CLIENT \n- CREATE TASL IN HUB SPOT (",
        "height": 400,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        112
      ],
      "typeVersion": 1,
      "id": "895382be-8d53-4e1c-9e38-26e0f42cb5fb",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule 08:00": {
      "main": [
        [
          {
            "node": "Fetch Active Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Deals": {
      "main": [
        [
          {
            "node": "Skip Auto-Renewal & In-Negotiation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Auto-Renewal & In-Negotiation": {
      "main": [
        [
          {
            "node": "Calculate Days Until Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days Until Expiry": {
      "main": [
        [
          {
            "node": "Filter 90/60/30 Day Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 90/60/30 Day Window": {
      "main": [
        [
          {
            "node": "Loop Per Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Urgency & Format Data": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Notify Account Manager via WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Account Manager via WhatsApp": {
      "main": [
        [
          {
            "node": "Log Renewal Task in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Renewal Task in HubSpot": {
      "main": [
        [
          {
            "node": "Loop Per Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Per Deal": {
      "main": [
        [],
        [
          {
            "node": "Set Urgency & Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "bfd2f2bf-6e09-4827-badc-7f92e7b87cc4",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "id": "2nEHcqNOcu0oJjuG",
  "tags": []
}
